*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-padding-top: 300px;
    scroll-behavior: smooth;
}

body {
    padding: 500px 0 200px 0;
    overflow-x: hidden;
    margin: 0 auto;
    position: relative;
}

.top{
    position: fixed;
    bottom: 3rem;
    right: 1rem;
}

#backToTop {
    background-image: url(../../IMG/fleche_o.svg);
    transform: rotate(0.75turn);
    background-position: right;
    padding: 1rem;
    background-repeat: no-repeat;
    color: transparent;
    background-color: transparent;
    border: none;
}

/*tablette*/
@media screen and (min-width: 768px){
    html {
        scroll-padding-top: 200px;
    }
    
    body {
        padding-top: 350px;
    }

    .top{
        bottom: 8rem;
    }
}

/*desktop*/
@media screen and (min-width: 1024px){
    html {
        scroll-padding-top: 260px;
    }
    
}   

/*desktop*/
@media screen and (min-width: 1280px){
    
}  